<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <h1 class="display-4"> Buy. Sell. Save.</h1>
          <p class="lead">No middle person. Save either you buy or sell.</p>
        </div>
        {{#unless user}}
        <div class="col-md-4">
          <a class="btn btn-primary btn-lg btn-block btn-google" href="/auth/google">Continue with Google</a>
          <br>
          <a class="btn btn-primary btn-lg btn-block btn-facebook" href="/auth/facebook">Continue with Facebook</a>
        </div>
        {{/unless}}
      </div>
    </div>
  </div>

  <!-- Rest of the body after jumbotron -->
  <div class="row">
    {{#if user}}
    <div class="col-md-3">
      {{> todo_filter}}
    </div>
    {{else}}
    <div class="col-md-3">
      <div class="alert alert-info" role="alert">
        LOG IN
        <hr> Please log in to view ads from your institute as well as other nearby institutes.
      </div>
    </div>
    {{/if}} {{> ads}}
  </div>
</div>