<div class="container text-center">
  <div class="row">
    <div class="col-md-4 mx-auto mt-5">
      <a class="btn btn-primary btn-lg btn-block btn-google" href="/auth/google">Continue with Google</a>
      <br>
      <a class="btn btn-primary btn-lg btn-block btn-facebook" href="/auth/facebook">Continue with Facebook</a>
    </div>
  </div>
</div>